[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/dss-cdp-manager"]
	path = lib/dss-cdp-manager
	url = https://github.com/indefibank/dss-cdp-manager
	branch = v1.2
[submodule "lib/proxy-registry"]
	path = lib/proxy-registry
	url = https://github.com/indefibank/proxy-registry
[submodule "lib/ds-wcoin"]
	path = lib/ds-wcoin
	url = https://github.com/indefibank/ds-wcoin.git
[submodule "lib/dss-gem-joins"]
	path = lib/dss-gem-joins
	url = https://github.com/indefibank/dss-gem-joins
	branch = v1.2
